@import "constants.scss";

   
@media screen and(max-width:1580px){
    
    .grid{width:1110px !important}
}
 
@media screen and(max-width:1230px){
    
    .grid{width:900px !important}
    .grid-item{width:270px !important}
}
 

 
@media screen and(max-width:930px){
    
    .grid{width:640px !important}
} 

	html, body {width:100%;height:100%;
			padding: 0;
			margin: 0;
		 	overflow: hidden;
		}
		#container {
		width:100%;
                height:100%;
		position:absolute;
                left:0px;top:0px;
			overflow-y: scroll;
                         transition: top 500ms
		}
body {background-color:#000;
font-family: 'Marck Script', cursive;
 color:#242729;font-size:14px;min-height:100%;}
.logo{width:260px;height:50px;margin:10px;;position:fixed;left:10px;padding:5px;background:url('/static/public/images/logo_1.svg') no-repeat ;}
.anim_scale{
  overflow:hidden;
   animation: animrotate 1200ms  forwards ;  
   
}
.anim_scale_back{

   animation: animrotate_back 700ms ;  
   
} 

 .item_to_top{
     
     transition: top 500ms ease-in;    z-index:10000;
 }
.fixed{
    position: fixed !important;
}


 
@keyframes animrotate{
  0%{
      
    transform: scale(1,1);
    
  }
   100% {
     
  opacity:0;
    transform: scale(0.8,0.8);
    top:100%;

  }
 

 
}
@keyframes animrotate_back{
  0%{
    
    transform: scale(0.7,0.7);
  }

   to {
      
       
    transform: scale(1,1);
    opacity:1;
  }

 
}
.perspective{
     -webkit-perspective: 500px;
  perspective: 120px;
}
nav{ font-size:24px;height:80px;background: none;;margin:0px;text-align:center;position:fixed;top:5px;width:100%;z-index:10000;
color:#c2b2ba;;


/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
 nav ul{list-style-type: none;margin:0 auto;overflow:hidden;position:relative;height:100%;display:inline-block;}
 
 
 appy>header{background-color:#000;position:fixed;top:50%;width:100%;height:60px;}
 nav ul li{margin:0px 60px;transform:translateY(-50%);position:relative;top:50%;display:inline-block;}
.clear:after{
    display:block;
    content:'';
    clear:both;
}


.top_area {
    text-align:center;
top:0px;
  height: 320px;  width:100%;  
 /* background: #302026;*/
 background-color:#000;
 background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
overflow:auto;max-height:100%;
  width:100%;
  height:110%;
  text-align:center;

  position:fixed;
  
}


.hide{display:none !important}

.top_area_logo{position:relative;top:50%;transform:translateY(-50%);height:50px;}

.top_area_pic{height:100%;bottom:0px;position:absolute;}
.left_bck{position:absolute;right:0px;top:0px;height:100%;width:0px;background-color: #9c0046;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

.left_anim{right:100%;position:absolute;;;;width:100px;height:100%;;background-color:#000; ;animation: animtoleft  2s forwards ease-in-out;}
.btn_anim_wrap{left:0px;width:300px;position:absolute;left:50%;transform: translateX(-50%);height:90%;overflow:hidden;background-color:#000}
.top_anim{left:2px;top:0%;position:relative;float:left;;width:2px;;margin-left:2px;;background-color:#000; ;animation: animtobtm  2s forwards ease-in-out;}
.btm_anim{top:100%;;;position:relative;float:left;;width:700px;;background-color:#000;margin-left:2px;; ;;;transform:translateY(-100%);}
          .main_content{min-height:900px;background-color:grey;position:relative;top:700px}
.animate {

transition-property: opacity;
transition-duration: 3s;
transition-delay: 0s; 
transition-timing-function: linear;
}
div{padding:0px;}

 

 a[name]{color:#C9287E}

.slider_back{overflow:hidden;width:100%;colorheight:100%;top:0px;left:0px;position:absolute;background-image:url('/static/images/slider_back.png');background-size:cover;background-repeat:no-repeat;z-index:40}

.block_title{font-size:26px;color:#C9287E;float:left;position:relative;left:20px;width:100px;height:70px;}
.slider img{height:100%;padding:0px}
 .main_news_wrap{margin:20px;}
.main_news{;overflow:hidden; max-height:350px;}
 .main_news article{position:relative;background-color:#4d5163;color:#fff;padding:0px;height:140px;width:290px;;float:left;margin:10px;box-shadow:#808286 0px 0px 7px;transition:box-shadow ease-in 200ms;}
 .main_news article:hover{box-shadow:#fff 0px 0px 10px;cursor:pointer;}
 .news_back{background:url(/static/public/images/55.png) no-repeat center/cover;background-color:#111;width:100%;;
                padding:50px 0px; position:relative;top:100%; }
.main_news article>div{float:left;}

.left_div_mediumarea{width:450px;height:500px;float:left;}
article .news_foto{height:100%;width:40%;}

article .news_name{height:100%;overflow:hidden;position:relative;padding:3px 3px 3px 20px;text-align:left;max-height:70%}

article time{position:absolute;bottom:0px ;right:3px ;color:#bfbfbf;}
/*coords style*/
.news_area_line_bottom{position:relative;height:100%;width:1%;z-index:-1;bottom:0px;}
 
.protfolio_nav{height:70px;}
.protfolio_nav .active{color:#fff;}

.protfolio_nav ul{list-style-type:none;margin:0px;}
.protfolio_nav ul li{cursor:pointer;padding:20px;float:left;height:inherit;width:140px;font-size:20px;font-weight:bold;color:#000;text-align:center;}

.fixed_btm{
    position:fixed !important;top:100%; 
}
.portfolio_wrap,.news_back{padding:60px 0;position:fixed !important;top:100%; overflow:auto;max-height:100%;height:200%}
.portfolio_wrap{background-color:#0b0e12;border:3px solid #fff;}
.portfolio_foto{overflow:hidden;width:90%;margin:0 auto;padding:50px;}
.portfolio_foto>div{position:relative;height:250px;width:350px;border:1px solid #5b4665;margin:3px;float:left;overflow:hidden;;}
.portfolio_foto>div img{width:100%;}
.portfolio_foto>div:hover{cursor:pointer;border:1px solid #892cb6}
.projects_nav {height:250px;margin-bottom:150px;

} 
.top_area_line_top{height:1300px}
.portfolio_top_line,.news-area-line_top,{position:relative;height:40px;}
.transition_800{transition:all 400ms ease-in-out;}
.hide{display:none !important}
.project_description{margin:0 auto;z-index:100;position:absolute;bottom:0px; height:100%;width:100%;opacity:0;}
.project_description:hover{opacity:1}
.project_description p{position:absolute;z-index:100;;color:#fff;font-weight:bold;font-size:20px;top:50%;transform:translateY(-50%);text-align:center;margin:0 auto;left:0px ;right:0px;}

.information_wrap{min-height:500px;background-color:#938469;margin:50px 0 0 0 ;padding:50px 20px;overflow:hidden;}
.information_text{width:60%;height:100%;float:left;color:#fff;}
.information_foto{float:left}
.opacity_fon:before{
    
    content:'';position:absolute;left:0px;bottom:0px;z-index:1;
    display:block;width:100%;height:100%;background-color:#100f11;opacity:0.9
}

.contacts_wrap{height:600px;}
.social_contacts{background-color:#3F3D3A}
.social_contacts>div{height:200px;width:200px;}
.appointments{background-color:#BFBBB3}
.contacts_wrap>section{float:left;width:50%;height:inherit}
 

.svg_icon{height:inherit;margin:0 auto;width:500px;}
.photo_wrap{position:absolute;top:0px;left:0px;cursor:pointer;width:100%;height:100%}
.svg_icon>div{;position:relative;width:250px;height:inherit}
.svg_icon object{pointer-events: none;position:relative;top:0px}

/*slider*/
 
.slider_wrap{margin:100px auto 0 auto;height:$sliderheight; background-color:#121316;width:60%}
.slider{height:inherit;overflow:hidden}

.slider>img{opacity:0;display:none;transition: opacity 1s ;width:100%;position:relative;}
.slider .slider_show{ height: 100%;position:relative;
display:inline;}

.slider_btn{position:relative;top:-30px;}
.slider_btn>span{cursor:pointer;    width:90px;height:15px;transition: background-color 1s;margin:0px 10px;background-color:#555E89;opacity:0.7;display:inline-block}
.slider_btn .active_slider_btn{background-color:#A83A83;opacity:1}
footer{
    background-image:url("http://www.transparenttextures.com/patterns/blu-stripes.png");
    height:400px;background-color:#000;
} 

.project_foto_wrap {width:100%;background-color:#000;overflow:hidden;height:inherit;}
.project_item{display:block;float:left;padding:0 55px;height:inherit;position:relative;top:0px;background-color:#2c2c2c;background-clip:content-box;} 
.image_back{height:85%;width:100%;}

.image_desctiption{background-color:#f8f8f8;height:15%}
.image_desctiption>p{margin:0px}
.project_foto_no_fixed_width{min-width:100%;width:auto;overflow:hidden;position:relative;height:inherit;}
.project_files{position:fixed;top:0px;left:0px;z-index:10000;width:100%;height:100%;display:none}
.close_parent{display:inline-block;position:absolute;right:5px;;margin-right:10px;cursor:pointer;font-size:26px;z-index:10000;font-weight:bold;color:#fff;}
.arrow{position:absolute;top:0;bottom:0;width:25px ;height:25px;font-size:35px;;margin: auto 0;z-index:1000;cursor:pointer;color:#767d92;}
.arrow:before{height:50px}
.arrow_right{right:30px}
.arrow_left{left:15px}
.news_content{display:none;position:absolute;width:90%;left:5%;min-height:90%;background-color:#fff;top:20px;;z-index:1000;padding:20px;}