<!DOCTYPE html>
<html>
    <head>   
        <title>{{title}}</title> 
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/static/public/vendor/bower/bower_components/bootstrap/dist/css/bootstrap.css"/>
         <link rel='stylesheet' href='/static/public/css/main.css'/>
           <link rel='stylesheet' href='/static/public/css/croppie.css'/>
           


          
    </head>
    <body>
  


                     <appy id="container"> </appy>
    
       
 
<script src="/static/node_modules/core-js/client/shim.min.js"></script>

    <script src="/static/node_modules/zone_js/dist/zone.js"></script>
    <script src="/static/node_modules/reflect-metadata/Reflect.js"></script>

    <script src="/static/node_modules/rxjs/bundles/Rx.js"></script>
    <script src="/static/node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="/static/node_modules/@angular/common/bundles/common.umd.js"></script>
    <script src="/static/node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="/static/node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="/static/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
                  <script type='text/javascript' src="/static/public/vendor/bower/bower_components/jquery/dist/jquery.min.js"></script>
                     <script src='/static/dist/main.bundled.js'></script>
                     <script src='/static/public/javascripts/js.js'></script>
            
                     
                     
                     
         
    </body>
</html>