<header>
            <nav class="clear">
                
                <ul>
                
               
         
                    <li>Портфолио</li>
                    <li> <A href='#news'>Новости</a></li>
                      <li> Обо мне</li>
                         <li> Контакты</li>
   </ul>
            </nav>
        </header>
   
            <div class="logo cleat">

                     <div class="logotext">
                      <object  id="logo" data="/static/public/images/svg/logo.svg" type="image/svg+xml" ></object>
                </div>
                <div class="rose">
                    <object id="left_rose_logo" data="/static/public/images/svg/rose.svg" type="image/svg+xml" ></object>
                     
                </div>
             
            </div>
        <div class="slider_wrap">
            <div class='slider col-xs-12 clear'> 
           <img class='slider_show' src="/static/public/images/6666.png"/>
              <img src="/static/public/images/7878.jpg"/>
               <img src="/static/public/images/testfon1.png"/>
               <img src="/static/public/images/55__.png"/>
               
            </div>
                
                 <p class='slider_btn'><span class='active_slider_btn'></span><span></span><span></span><span></span></p>
        </div>
       
        <div class="main_news_wrap clear">
            <p class="block_title news_block_title"><a name='news'>Новости</a></p>
         <section  itemscope itemtype='http://schema.org/Article' class="main_news">
       
                <article>
                    <header><h3 itemprop="name">>конфренция</h3></header>
                    <div class="news_desc">
                          <p>blablablablablablabl</p>
                    </div>
                  
                    <footer>
                        <time itemprop='dateCreated'> time</time>
                    </footer>
                </article>
                          <article>
                    <header><h3 itemprop="name">>конфренция</h3></header>
                    <div class="news_desc">
                          <p>blablablablablablabl</p>
                    </div>
                  
                    <footer>
                        <time itemprop='dateCreated'> time</time>
                    </footer>
                </article>
                          <article>
                    <header><h3 itemprop="name">>конфренция</h3></header>
                    <div class="news_desc">
                          <p>blablablablablablabl</p>
                    </div>
                  
                    <footer>
                        <time itemprop='dateCreated'> time</time>
                    </footer>
                </article>
                          <article>
                    <header><h3 itemprop="name">>конфренция</h3></header>
                    <div class="news_desc">
                          <p>blablablablablablabl</p>
                    </div>
                  
                    <footer>
                        <time itemprop='dateCreated'> time</time>
                    </footer>
                </article>
                          <article>
                    <header><h3 itemprop="name">>конфренция</h3></header>
                    <div class="news_desc">
                          <p>blablablablablablabl</p>
                    </div>
                  
                    <footer>
                        <time itemprop='dateCreated'> time</time>
                    </footer>
                </article>
             
                
         </section>

     
         
        </div>  
        <div class="portfolio_wrap">
            <div class="protfolio_nav">
                <ul class="clear">
                    <li class="active">ФОТО</li>
                    <li>ВИДЕО</li>
                </ul> 
            </div>
            <section class="portfolio_foto clear">
                <div></div>
                   <div></div>
                      <div></div>
            </section>
               <section class="portfolio_video hide clear">
                
            </section>
        </div>
        
        <div class="information_wrap clear">
            <div class="information_text">
                
            </div>
            <div class="information_foto">
                
            </div>
            
        </div>
        <div class="contacts_wrap">
           <!-- <section class="social_contacts">
                
           

            <!-- VK Widget 
            <div id="vk_groups">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?127"></script>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 4, width: "220", height: "400", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 74724200);
            </script>
            
            </div>
            <div id="youtube_group">
                <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCurxmr8A-5lAbBn1Qg8gbyA" data-layout="full" data-theme="dark" data-count="default"></div>
            </div>
            <div class="facebool_group">
<div class="fb-follow" data-href="https://www.facebook.com/leli.reasonable" data-layout="standard" data-size="small" data-show-faces="true"></div>
            </div>
                        </section> -->
                        <section class="appointments">

                        </section>
        </div>

        

      <!-- <div class="slider_wrap col-md-12">
     
          //  <div class="slider">
 <img  src="/static/images/city.jpg" />
  <img src="/static/images/1.jpg" />
 <div class="slider_back"></div>
 
            </div>
            
    

        </div> -->
      
       <!-- <div class="col-md-12 my_projects">
            <div class="projects_nav col-md-12">
                <div class="svg_icon">
                    <div class="photo">
                        <div class="photo_wrap">
                            
                        </div> 
                        <object id="photo_svg" data="/static/images/svg/icon_foto_1.svg" type="image/svg+xml" ></object>
                    </div>
                </div>
            </div>
            
            <div class="grid-wrap" data-masonry>
 
                <div class="grid">
                    
                </div>
            
     <div class="pagination"></div>

        </div>
        </div>-->
       



    
  
        <!--<div class='col-md-12 main_content'>{{{content}}}</div>-->
       <footer>
           
       </footer>
