

   <nav>
    <ul>
    <li>Новости</li> <li>Мои работы</li>  <li>Обо мне</li>  <li>Контакты</li> 
    </ul>
    
</nav>

   
            <div class="top_area">
                  <div class="top_area_line_top"></div>
              
                     
                <div>    <img class='top_area_logo' src='/static/public/images/svg/logo.svg'/>      </div>
         
                       

</div>


             
     
       <div class="news_back">
           <div class="news-area-line_top"></div>
        <div class="main_news_wrap clear">

         <section  itemscope itemtype='http://schema.org/Article' class="main_news">
       
                <article data-toggle="newshow" id="{{newsitem._id}}"  *ngFor="let newsitem of newsarr" (click)="getnews($event)">
         
                          <div class='news_foto' [ngStyle]= "{'background': 'url(/static/public/upload/pics/'+newsitem.ava+') no-repeat bottom/cover'}">
                        
                    </div>
                    <div class="news_name">
                        <p> {{newsitem.name}}</p>
                          
                    </div>
                        <time itemprop='dateCreated'> {{newsitem.date}}</time>
               
                   
             
                </article>
             
   
         </section>


        </div> 
               <div class="news_area_line_bottom"></div>
           </div>
           <div [ngClass]="newshow? 'news_content show' :'news_content'">
                 <p style='color:#000' data-click-item='newshow'(click) ='closenews($event)' class='close_parent'>x</p>
                     
                       
               <div [innerHtml]='newscontent'  ></div>
                
             </div> 

        <div class="portfolio_wrap">
              <div class="portfolio_top_line"></div>
            <div class="protfolio_nav">
                <ul class="clear">
                    <li class="active">ФОТО</li>
                    <li>ВИДЕО</li>
                </ul> 
            </div>  
            <section class="portfolio_foto clear">
                <div id="{{image._id}}" [ngStyle]= "{'background': 'url('+image.ava+') no-repeat bottom/cover'}" (click)="clickev($event)" class="transition_800 project_images" *ngFor="let image of projectarr">
               
                
                    <div class="project_description transition_800 ">
                        <div class="opacity_fon  transition_800"></div>
                        <p><span>{{image.desc}}</span></p> 
                  
                    </div>
                </div>
           
                <project_desc  [ngClass]="canshow? 'project_files show' : 'project_files'"   [fileslength]="fileslength" [descfiles]='descfiles' [(canshow_ch)]='canshow'>
                   
           
 
                    
                </project_desc>
             
               
                   
            </section>
               <section class="portfolio_video hide clear">
                
            </section>
      
        </div>
        
        <div class="information_wrap clear">
            <div class="information_text">
                Президент Владимир Путин и премьер-министр Дмитрий Медведев прибыли на праздничное ночное пасхальное богослужение в храм Христа Спасителя. Об этом в воскресенье, 16 апреля, сообщает РИА Новости.

По его данным, на торжественной службе присутствуют супруга главы кабмина Светлана Медведева, а также мэр Москвы Сергей Собянин, общественные и политические деятели.

Совершает богослужение Патриарх Московский и всея Руси Кирилл. В храм Христа Спасителя пришли тысячи верующих.

«Интерфакс» отмечает, что, согласно традиции, после полуночи патриарх и руководители страны обмениваются пасхальными подарками.

В ночь на 16 апреля из Иерусалима в Москву спецрейсом в особой капсуле был доставлен благодатный огонь. Позднее его частицы передадут в другие города России, а также ближнего и дальнего зарубежья.

Как сообщает агентство, российский лидер в главные православные праздники посещает храмы: как правило, на Пасху он бывает в храме Христа Спасителя, а в Рождество посещает церкви за пределами Москвы. Премьер на эти религиозные торжества всегда приезжает в главный храм России.

16 апреля православные отмечают главный христианский праздник — Пасху, или Воскресение Христово. Он был установлен еще в апостольское время. В этот день верующие вспоминают воскресение из мертвых Иисуса Христа на третий день после распятия на кресте за грехи всех людей. В пасхальную ночь во всех православных храмах проходят праздничные службы.
            </div>
            <div class="information_foto">
                  <div>    <img class='top_area_pic' src='/static/public/images/aleonapic3.png'/>      </div>
                    
            </div>
            
        </div>
      





    
  
        <!--<div class='col-md-12 main_content'>{{{content}}}</div>-->
       <footer>
           
       </footer>

                  <script type='text/javascript' src="/static/public/vendor/bower/bower_components/jquery/dist/jquery.min.js"></script>
          <script type='text/javascript' src="/static/public/javascripts/js.js"></script>
          
           <script type='text/javascript' src="/static/public/vendor/snap.svg-min.js"></script>
                     <script type='text/javascript' src="/static/public/vendor/vivus.js"></script>
                        <script type='text/javascript' src="/static/public/vendor/croppie.js"></script>
      
                     <div id="fb-root"></div>
    
           <script>(function(d, s, id) { 
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        